/* .list{
    display: flex;
    width: 25%;
    background-color: white;
    border-radius :12px; ;
}
.listcontainer{
    display: flex;
    justify-content: center;
}
@media(max-width:100px){
    .list{
        display: flex;
        width: 60%;
        background-color: aliceblue;
        border-radius :12px; ;
    }
}

@media(max-width:700px){
    .list{
        display: flex;
        width: 85%;
        background-color: aliceblue;
        border-radius :12px; ;
    }
}
.listItem{
 border: 1px solid black;
 width: 50%;

 
 text-align: center;   
}
.listItem{
    margin: 20px 0px;
    width: 200%;
    border: 1px solid black;
    border-radius:12px; 
} */
.outercontainer{
    margin: 30px 0;
    justify-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    
  
}
.listcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid black; */
    width: 25%;
    border-radius: 12px;
}
.itemname{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    background-color: white;
    width: 450px;
    padding: 1rem 0;
    font-size: 25px;
    
}
@media(max-width:490px){
    .itemname{
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        background-color: white;
        width: 350px;
        padding: 1rem 0;
        font-size: 25px;
        
    }   
}