.outer{
    /* border: 1px solid red; */
    display:  flex;
    justify-content: center;
}
.inner{
    border: 1px solid black;
    width: 90%;
    border: 12px;
    display: flex;
    align-items: center;

    justify-content: space-between;
}
.showdata{
        display: flex;
        width: 30%;
        /* margin: 1rem; */
        border-radius: 12px;
        align-items: center;
        justify-content: center;
        border: 1px solid black;    
}
.showdata h1{
    font-size: 40px;
}